* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0b6772;
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
}

.main {
    display: inline-block;
    border: 2px solid white; /* Optional: to visualize the outer container */
    padding: 20px;
    border-radius: 25px;
    text-decoration: none;
    max-width: 1000px;
    max-height: fit-content;
}

.main .name {
    font-size: 24px;
}

.main .info {
    font-size: 20px;
    color:rgb(101, 182, 185);
    margin-top: 15px;
}

.main .info h2 a {
    text-decoration: none;
}

.main .description {
    margin-top: 15px;
    font-size: 20px;
}

.main .description .description-text {
    font-size: 18px;
    margin-top: 2px;
    color:rgb(101, 182, 185);
}

.main .experience {
    margin-top: 15px;
    font-size: 20px;
}

.main .experience-text {
    font-size: 18px;
    margin-top: 2px;
    color:rgb(101, 182, 185);
}

.main .experience-text h2 {
    
    margin-top: 20px;
}

.main .skills {
    margin-top: 15px;
    font-size: 20px;
}

.main .skills .skills-text {
    font-size: 18px;
    margin-top: 2px;
    color:rgb(101, 182, 185);
}

.main .skills .skills-text h2 {
    margin-top: 20px;
}

.main .white{
    color: white;
}

.event {
    margin-top: 20px;
}

.event h2 {
    margin-top: 5px;
}

.work {
    margin-top: 30px;
}

.work h2{
    margin-top: 5px;
}

html, body {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    z-index: 1000; /* Higher z-index to ensure it appears above other content */
    justify-content: center;
    align-items: center;
}

/* Style for the popup content */
.popup-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-width: 80%; /* Adjust width as needed */
    text-align: center;
    position: relative;
}

/* Style for the image inside the popup */
.popup-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.back-button button {
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    /* Optionally, you can reset other styles like font and text-decoration */
    font: inherit; /* Inherit font styles from parent */
    text-decoration: none; /* Remove underline or other decorations */
    cursor: pointer; /* Ensure cursor is pointer */
}

.back-button button a{
    text-decoration: none;
    color:white;
}

.back-button {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
}

.back-button:hover {
    border-color: blue;
    background-color: rgba(0,0,255, 0.3);
}

a {
    color: rgb(85,26,139);
}

@media (max-width: 768px) {
    .main {
        margin-top: 50px;
    }
}

@media (max-width: 480px) {
    .main {
        margin-top: 50px;
    }
}