* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #0b6772;
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
}

#workplace-link {
    text-decoration: none;
    color: whitesmoke;
}

.workplace {
    display: inline-block;
    border: 2px solid white;
    border-radius: 45px;
    padding: 20px;
    max-width: 800px;
    min-width: 400px;
    max-height: 200px;
    overflow: hidden;
}

.nameanddate {
    display: flex;
    align-items: flex-end;
}

.workplace .nameanddate .name {
    font-size: 22px;
}

/* .workplace .nameanddate .date {
    font-size: 12px;
    margin-bottom: 4px;
    margin-left: 10px;
    color:rgb(84, 191, 233);
} */

.workplace .description {
    font-size: 17px;
    font-weight: 400;
    margin-top: 7px;
    color:rgb(101, 182, 185);
}

.workplace:hover {
    border-color: blue;
    background-color: rgba(0,0,255, 0.1);
}

.workplace-body {

    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    
}